{% extends 'jonesapp/base.html' %}
{% load static%}
{% block title %} {{ section.title }} {% endblock %}

{% block content %}
<a href="/products">View Products</a>
<a href="/video">View Clips</a>
<a href="/register">Register</a>
<a href="/signIn">Sign In</a>
    <h1>{{ section.title }} </h1>

    {% for story in story_list %}
        <h2>
            <a href="{{ story.get_absolute_url }}">
                {{ story.headline|upper }}
            </a>
        </h2>
        <p>{{ story.tease|truncatewords:"100" }}</p>
    {% endfor %}
{% endblock content %}